@font-face {
  font-family: "Vazir";
  src: url("./Vazir/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("./Vazir/Vazir-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("./Vazir/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("./Vazir/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("./Vazir/Vazir-Thin.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
